/* * { border: 1px solid black; } */
#results {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.result-item {
	display: flex;
	justify-content: space-evenly;
  	flex-flow: row wrap;
	align-items: stretch;
	background-color: aliceblue;
	padding: 1em;
	border-radius: 4px;

	margin-top: 1em;
}

.result-info {
	margin: 1em 0em;
	width: 150px;
}

.result-desc {
	font-size: 0.8em;
}

.result-info h4 {
	margin: 0 0 5px;
}

.result-tag-div {
	display: block;
	margin-bottom: 5px;
}

.result-tag {
	text-transform: uppercase;
	font-weight: bold;
	background-color: red;
	color: white;
	font-size: 0.6em;
	padding: 1px 4px;
	border-radius: 20px;
}

.result-item img {
	border-radius: 15px;
	min-width: 50%;
}

.heading {
	font-size: 30px;
	padding: 16px 0;
	color: #444;
	text-align: center;
}

.container {
	margin: 36px auto;
	width: 100%;
	max-width: 800px;
}

.search-icon {
	display: inline-block;
	padding: 10px 10px 5px;
	margin: 0;
}

.search-label {
	width: 100%;
	padding: 16px;
	font-size: 1em;
	border-radius: 40px;
	background-color: grey;

	padding: 0;
	margin: 0;

	display: flex;
  	align-items: center
}

.container input {
	background-color: inherit;
	border: none;
	outline: none;

	padding: 0;
	margin: 0;
}

.container input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
  }